/**
* Description: Sample theme for site which extends the Wolf grid-theme.
*/
@import url(../../../themes/bootstrap/css/bootstrap.css);

html{background:#0000FE;}
body{background:#0000FE;}

#outer-wrap-header{background-color:#fff;border-bottom:2px solid #000}
#outer-wrap-footer{background-color:#ddd}
a{color:#463}

#footer{color:#ddd;}

pre, .hero-unit, .well{background:#FFFF01;}
pre p{color:;}
#modal-footer p{color:#FFFF01;}

.nav ul li,
.nav ol {
	display: inline;
    list-style: none;
    list-style-image: none;
    padding:10px;
    margin:10px;
}
